@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div class="rounded-sm bg-dark text-white text-center py-5 my-5">
    <h1 class="display-4">Build your custom loadouts</h1>
</div>
